@font-face {
	font-family: 'moon';
	src:url('../../fonts/icomoon.eot');
	src:url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/icomoon.svg#moon') format('svg'),
		url('../../fonts/icomoon.woff') format('woff'),
		url('../../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'FontAwesome';
	src:url('../../fonts/fontawesome-webfont.eot?v=3.1.0');
	src:url('../../fonts/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'),url('../../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg'),url('../../fonts/fontawesome-webfont.woff?v=3.1.0') format('woff'),url('../../fonts/fontawesome-webfont.ttf?v=3.1.0') format('truetype');font-weight:normal;font-style:normal
}