#jpreOverlay
{
	background-color:#000;
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	-khtml-opacity:.9;
	opacity:.9
}

#jpreSlide
{
	font-size:22px;
	font-weight:700;
	color:#ccc;
	text-align:center;
	width:50%;
	height:30%
}

#jpreLoader
{
	width:500px;
	height:25px
}

#jpreBar
{
	border-radius:25px
}

#jprePercentage
{
	color:#ccc;
	font-size:80px;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:700;
	text-align:center;
	text-shadow:1px 1px 1px #333;
	top:-100%
}
