.gallery.air {
  display: none;
  width: 0;
}
.gallery.air .widgettitle {
  margin-left: 34px;
}

.gallery-single-item {
  position: relative;
}
.gallery-single-item a.has_preview {
  display: block;
  position: relative;
}
.air-outset {
  position: absolute;
  right: 0;
  max-width: 25%;
  width: 50px;
}

.air-outset .details {
  position: absolute;
  top: 8%;
  right: 48px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  margin-top: -26px;
  z-index: 9999;
}
.air-outset .details .btn2 {
  width: 52px;
  height: 52px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  text-align: center;
}
#ascrail2000-hr div:after {
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -3px;
  z-index: 9999;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #dddddd;
  border-left: 6px solid transparent;
  content: '';
}
